<section class='container'>
  <div class='small-container-main'>
    <h1> Result </h1>
  <article>
    <% if @included %>
      <% if @english_word %>
      <p> <strong> Congratulations! </strong> "<%= @word %>" is a valid English word! </p>
      <% else %>
        <p> Sorry but <strong> "<%= @word %>"</strong> does not seem to be a valid English word... </p>
      <% end %>
    <% else %>
      <p> Sorry but <strong> "<%= @word %>" </strong> can´t be built out of  <strong> "<%= @letters.join(", ") %>"</strong> </p>
    <% end %>
  </article>

    <div>
      <%= link_to "Play again", new_path, class: 'button-again' %>
    </div>
  </div>
</section>